<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxw.store.project.order.mapper.ExpressMapper">

    <resultMap id="ExpressResult" type="Express">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="word" column="word"/>
    </resultMap>

    <select id="select" resultMap="ExpressResult">
        select id,name,word from gxw_express
    </select>


    <select id="getExpressName" resultType="String">
        select `name` from gxw_express where id=#{id}
    </select>

</mapper>