<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxw.store.project.order.mapper.OrderMapper">

    <resultMap id="OrderResult" type="Order">
        <id property="id" column="id"/>
        <result property="businessId" column="business_id"/>
        <result property="businessName" column="business_name"/>
        <result property="userId" column="user_id"/>
        <result property="code" column="order_code"/>
        <result property="price" column="price"/>
        <result property="originalPrice" column="original_price"/>
        <result property="expressPrice" column="express_price"/>
        <result property="expressType" column="express_type"/>
        <result property="expressCode" column="express_code"/>
        <result property="receiver" column="receiver"/>
        <result property="telphone" column="telphone"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createTime" column="created_at"/>
        <result property="payTime" column="pay_at"/>
        <result property="sendTime" column="send_at"/>
        <collection property="items" javaType="java.util.List" resultMap="OrderItemResult"/>
    </resultMap>

    <resultMap id="OrderItemResult" type="OrderItem">
        <id property="id" column="item_id"/>
        <result property="name" column="product_name"/>
        <result property="orderId" column="order_id"/>
        <result property="productId" column="product_id"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="specificationId" column="specification_id"/>
        <result property="firstSpecificationName" column="first_specification_name"/>
        <result property="firstSpecificationValue" column="first_specification_value"/>
        <result property="secondSpecificationName" column="second_specification_name"/>
        <result property="secondSpecificationValue" column="second_specification_value"/>
        <result property="price" column="price"/>
        <result property="originalPrice" column="original_price"/>
        <result property="num" column="num"/>
    </resultMap>

    <insert id="create" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert `gxw_order`  (business_id,business_name,user_id,order_code,price,original_price,express_price,receiver,telphone,address,status)
        value (#{businessId},#{businessName},#{userId},#{code},#{price},#{originalPrice},#{expressPrice},#{receiver},#{telphone},#{address},#{status})
    </insert>

    <insert id="createItem" parameterType="OrderItem" useGeneratedKeys="true" keyProperty="id">
        insert `gxw_order_item`  (order_id,
        name,
        product_id,
        cover_url,
        specification_id,
        first_specification_name,
        first_specification_value,
        second_specification_name,
        second_specification_value,
        product_snap,
        price,
        original_price,
        num)
        value (#{orderId},
        #{name},
        #{productId},
        #{coverUrl},
        #{specificationId},
        #{firstSpecificationName},
        #{firstSpecificationValue},
        #{secondSpecificationName},
        #{secondSpecificationValue},
        #{productSnap},
        #{price},
        #{originalPrice},
        #{num})
    </insert>

    <select id="selectOrders"  resultMap="OrderResult">
        select a.id,
        a.business_id,
        a.business_name,
        a.user_id,
        a.order_code,
        a.price,
        a.original_price,
        a.express_price,
        a.express_type,
        a.express_code,
        a.receiver,
        a.telphone,
        a.address,
        a.status,
        a.delete_flag,
        a.created_at,
        a.pay_at,
        a.send_at,
        b.id as item_id,
        b.order_id,
        b.name as product_name,
        b.product_id,
        b.cover_url,
        b.specification_id,
        b.first_specification_name,
        b.first_specification_value,
        b.second_specification_name,
        b.second_specification_value,
        b.price,
        b.original_price,
        b.num
        from gxw_order a
        left join gxw_order_item b on a.id = b.order_id
        where a.delete_flag = 0
        <if test="id != null and id != 0">and a.id= #{id}</if>
        <if test="code != null and code != ''">and a.order_code= #{code}</if>
        <if test="businessId != null and businessId != 0">and a.business_id= #{businessId}</if>
        <if test="userId != null and userId != 0">and a.user_id= #{userId}</if>
        <if test="telphone != null and telphone != 0">and a.telphone= #{telphone}</if>
        <if test="statuses != null ">
            and a.status in
            <foreach collection="statuses" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by a.created_at desc
    </select>


</mapper>