<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxw.store.project.product.mapper.ProductMapper">
    <resultMap type="ProductDetail" id="ProductDetailResult">
        <id property="id" column="id"/>
        <result property="businessId" column="business_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
        <result property="mode" column="mode"/>
        <result property="description" column="description"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="videoUrl" column="video_url"/>
        <result property="stockType" column="stock_type"/>
        <result property="statusType" column="status_type"/>
        <result property="saleTime" column="sale_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createTime" column="created_at"/>
        <collection property="attributes" javaType="java.util.List" resultMap="AttributeResult"/>
        <collection property="detailImages" javaType="java.util.List" resultMap="DetailImagesResult"/>
        <collection property="mainImages" javaType="java.util.List" resultMap="MainImagesResult"/>
    </resultMap>

    <resultMap type="ProductDetail" id="ProductListResult">
        <id property="id" column="id"/>
        <result property="businessId" column="business_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
        <result property="mode" column="mode"/>
        <result property="description" column="description"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="stockType" column="stock_type"/>
        <result property="statusType" column="status_type"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createTime" column="created_at"/>
    </resultMap>

    <resultMap id="AttributeResult" type="ProductDetailAttribute">
        <id property="id" column="attribute_id"/>
        <result property="detailId" column="id"/>
        <result property="name" column="attribute_name"/>
        <result property="content" column="attribute_content"/>
    </resultMap>

    <resultMap id="DetailImagesResult" type="ProductDetailImg">
        <id property="id" column="desc_id"/>
        <result property="detailId" column="id"/>
        <result property="imgUrl" column="desc_img_url"/>
        <result property="indexNo" column="desc_index_no"/>
    </resultMap>

    <resultMap id="MainImagesResult" type="ProductDetailMainImg">
        <id property="id" column="main_id"/>
        <result property="detailId" column="id"/>
        <result property="imgUrl" column="main_img_url"/>
        <result property="indexNo" column="main_index_no"/>
    </resultMap>


    <insert id="createDetail" parameterType="ProductDetail" useGeneratedKeys="true" keyProperty="id">
        insert `gxw_product_detail`  (business_id,category_id,name,mode,description,cover_url,
        <if test="videoUrl != null ">video_url,</if>
        <if test="saleTime != null ">sale_time,</if>
        stock_type,status_type)
        value (#{businessId},#{categoryId},#{name},#{mode},#{description},#{coverUrl},
        <if test="videoUrl != null ">#{videoUrl},</if>
        <if test="saleTime != null ">#{saleTime},</if>
        #{stockType},#{statusType})
    </insert>

    <update id="updateDetail" parameterType="ProductDetail">
        update gxw_product_detail
        <set>
            <if test="categoryId != null and categoryId != 0">category_id= #{categoryId},</if>
            <if test="name != null and name != ''">name= #{name},</if>
            <if test="mode != null and mode != 0">mode= #{mode},</if>
            <if test="description != null and description != ''">description= #{description},</if>
            <if test="coverUrl != null and coverUrl != ''">cover_url= #{coverUrl},</if>
            <if test="videoUrl != null ">video_url= #{videoUrl},</if>
            <if test="saleTime != null ">sale_time= #{saleTime},</if>
            <if test="stockType != null and stockType != 0">stock_type= #{stockType},</if>
            <if test="statusType != null and statusType != 0">status_type= #{statusType},</if>
            delete_flag = #{deleteFlag}
        </set>
        where id = #{id}
    </update>

    <insert id="createAttributes">
        insert gxw_product_detail_attribute (detail_id,name,content) values
        <foreach collection="attributes" item="item" separator=",">
            (#{detailId},#{item.name},#{item.content})
        </foreach>
    </insert>

    <update id="deleteDetail">
        update gxw_product_detail
        <set>
            delete_flag = 1
        </set>
        where id = #{id} and business_id = #{businessId}
    </update>


    <delete id="deleteAttribute">
        delete from gxw_product_detail_attribute where id = #{id} and detail_id = #{detailId}
    </delete>

    <insert id="createMainImages">
        insert gxw_product_detail_main_img (detail_id,img_url,index_no) values
        <foreach collection="images" item="item" separator=",">
            (#{detailId},#{item.imgUrl},#{item.indexNo})
        </foreach>
    </insert>

    <delete id="deleteMainImages">
        delete  from gxw_product_detail_main_img where detail_id = #{detailId}
    </delete>

    <insert id="createDetailImages">
        insert gxw_product_detail_desc_img (detail_id,img_url,index_no) values
        <foreach collection="images" item="item" separator=",">
            (#{detailId},#{item.imgUrl},#{item.indexNo})
        </foreach>
    </insert>

    <delete id="deleteDetailImages">
        delete  from gxw_product_detail_desc_img where detail_id = #{detailId}
    </delete>

    <select id="getDetailById" resultMap="ProductDetailResult">
        SELECT
            a.id,
            a.business_id,
            a.category_id,
            a.`name`,
            a.`mode`,
            a.stock_type,
            a.status_type,
            a.delete_flag,
            a.created_at,
            a.description,
            a.cover_url,
            a.video_url,
            a.sale_time,
            b.id as attribute_id,
            b.detail_id,
            b.`name` as attribute_name,
            b.content as attribute_content,
            c.id as main_id,
            c.img_url as main_img_url,
            c.index_no as main_index_no,
            d.id as desc_id,
            d.img_url as desc_img_url,
            d.index_no as desc_index_no
        FROM
            gxw_product_detail a
            LEFT JOIN gxw_product_detail_attribute b ON a.id = b.detail_id
            left join gxw_product_detail_main_img c on c.detail_id = a.id
            left join gxw_product_detail_desc_img d on d.detail_id = a.id
            where a.id = #{id} and a.delete_flag = 0
    </select>

    <sql id="sqlSelectProducts">
         SELECT
        a.id,
        a.business_id,
        a.category_id,
        a.`name`,
        a.`mode`,
        a.stock_type,
        a.status_type,
        a.delete_flag,
        a.created_at,
        a.description,
        a.cover_url,
        a.video_url,
        a.sale_time
        FROM
        gxw_product_detail a
    </sql>

    <select id="selectProducts" resultMap="ProductListResult">
        <include refid="sqlSelectProducts"/>
        where a.business_id = #{businessId}
         <if test="categoryId != null and categoryId != 0">and a.category_id= #{categoryId} </if>
        <if test="name != null and name != ''">and a.name like CONCAT('%',#{name},'%') </if>
        <if test="mode != null and mode != 0">and a.`mode`= #{mode} </if>
        <if test="statusType != null and statusType != 0">and a.status_type= #{statusType} </if>
        and a.delete_flag = 0 order by a.created_at desc
    </select>

    <insert id="addRecommend">
        insert gxw_product_recommend (business_id,product_id,index_no) values
        <foreach collection="recommends" item="item" separator=",">
            (#{item.businessId},#{item.productId},#{item.indexNo})
        </foreach>
    </insert>

    <delete id="deleteRecommend">
        delete from gxw_product_recommend where business_id = #{businessId} and product_id in
        <foreach collection="productIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updateRecommend" parameterType="ProductRecommend">
        update gxw_product_recommend
        <set>
            index_no = #{indexNo}
        </set>
        where id=#{id} and business_id=#{businessId}
    </update>

    <select id="getRecommendProducts" resultMap="ProductListResult">
        <include refid="sqlSelectProducts"/>
        left join gxw_product_recommend b on a.id = b.product_id
        where b.business_id = #{businessId} order by b.index_no desc
    </select>

</mapper> 