<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxw.store.project.sale.mapper.CouponMapper">

    <resultMap id="CouponResult" type="Coupon">
        <id property="id" column="id"/>
        <result property="staffId" column="staff_id"/>
        <result property="businessId" column="business_id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="price" column="price"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="mode" column="mode"/>
        <result property="targetPrice" column="target_price"/>
        <result property="num" column="num"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createTime" column="created_at"/>
        <collection property="products" javaType="ArrayList" resultMap="ProductIdResult"/>
        <collection property="users" javaType="ArrayList" resultMap="CouponUserResult"/>
    </resultMap>

    <resultMap id="ProductIdResult" type="Long">
        <result property="productId" column="product_id"/>
    </resultMap>

    <resultMap id="CouponUserResult" type="CouponUser">
        <id property="id" column="coupon_user_id"/>
        <result property="userId" column="user_id"/>
        <result property="orderId" column="order_id"/>
        <result property="couponId" column="coupon_id"/>
        <result property="status" column="status"/>
        <result property="createTime" column="user_created_at"/>
        <result property="useTime" column="use_at"/>
    </resultMap>


    <insert id="create" parameterType="Coupon" useGeneratedKeys="true" keyProperty="id">
        insert `gxw_coupon`  (staff_id,business_id,name,content,price,start_time,end_time,mode,target_price,num)
        value (#{staffId},#{businessId},#{name},#{content},#{price},#{startTime},#{endTime},#{mode},#{targetPrice},#{num})
    </insert>

    <insert id="addProducts">
        insert into gxw_coupon_product(coupon_id,product_id) values
        <foreach collection="products" item="productId" separator=",">
            (#{couponId},#{productId})
        </foreach>
    </insert>

    <delete id="clearProducts">
        delete from gxw_coupon_product where coupon_id =#{couponId}
    </delete>

    <update id="update" parameterType="Coupon">
        update gxw_coupon
        <set>
            <if test="name != null and name != ''">name= #{name},</if>
            <if test="content != null and content != ''">content= #{content},</if>
            <if test="price != null and price != 0">price= #{price},</if>
            <if test="startTime != null ">start_time= #{startTime},</if>
            <if test="endTime != null ">end_time= #{endTime},</if>
            <if test="mode != null ">mode= #{mode},</if>
            <if test="targetPrice != null and targetPrice != 0">target_price= #{targetPrice},</if>
            <if test="num != null ">num= #{num},</if>
            delete_flag = #{deleteFlag}
        </set>
        where id=#{id}
    </update>

    <update id="delete">
        update gxw_coupon
        <set>
            delete_flag = 1
        </set>
        where id=#{id} and business_id =#{businessId}
    </update>

    <sql id="sqlCoupon">
        select
        a.id,
        a.staff_id,
        a.business_id,
        a.name,
        a.content,
        a.price,
        a.start_time,
        a.end_time,
        a.target_price,
        a.mode,
        a.num,
        a.delete_flag,
        a.created_at,
        b.product_id
        from gxw_coupon a
        left join gxw_coupon_product b on a.id = b.coupon_id
    </sql>

    <sql id="sqlCouponUser">
        select
            a.id,
            a.staff_id,
            a.business_id,
            a.name,
            a.content,
            a.price,
            a.start_time,
            a.end_time,
            a.target_price,
            a.mode,
            a.num,
            a.delete_flag,
            a.created_at,
            b.product_id,
            c.id as coupon_user_id,
            c.user_id,
            c.order_id,
            c.coupon_id,
            c.`status`,
            c.created_at as user_created_at,
            c.use_at
            from gxw_coupon a
            left join gxw_coupon_product b on a.id = b.coupon_id
            left join gxw_coupon_user c on a.id = c.coupon_id
    </sql>

    <select id="getCouponIds" resultType="Long">
        select a.id from gxw_coupon a
        where a.business_id = #{businessId}
        <if test="name != null and name != '' ">  and a.name like CONCAT('%',#{name},'%') </if>
        and a.delete_flag = 0
    </select>

    <select id="selectCoupons" resultMap="CouponResult">
        <include refid="sqlCoupon"/>
        where a.delete_flag = 0
        and a.id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by a.created_at desc
    </select>

    <select id="getCoupon" resultMap="CouponResult">
        <include refid="sqlCoupon"/>
        where a.id = #{id} and a.delete_flag = 0
    </select>


    <insert id="send">
        insert into gxw_coupon_user(user_id,coupon_id,status) values
        <foreach collection="userIds" item="userId" separator=",">
            (#{userId},#{id},0)
        </foreach>
    </insert>

    <select id="selectCouponsOfUser" resultMap="CouponResult">
        <include refid="sqlCouponUser" />
        where c.user_id = #{userId}
        <if test="now != null  "> and a.start_time &lt; #{now} and a.end_time &gt; #{now} </if>
        <if test="status != null  "> and c.status = #{status} </if>
        and  a.delete_flag = 0
    </select>

    <select id="getCouponInfo" resultMap="CouponResult">
        <include refid="sqlCouponUser" />
        where c.user_id = #{userId} and c.coupon_id = #{couponId}
        <if test="now != null  "> and a.start_time &lt; #{now} and a.end_time &gt; #{now} </if>
        <if test="status != null  "> and c.status = #{status} </if>
        and  a.delete_flag = 0
    </select>

    <update id="useCoupon">
        update gxw_coupon_user
        <set>
            order_id = #{orderId},
            status = 1,
            use_at = #{useTime}
        </set>
        where user_id = #{userId} and coupon_id = #{couponId}
    </update>

</mapper>