<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxw.store.project.sale.mapper.DiscountMapper">

    <resultMap id="DiscountResult" type="Discount">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="businessId" column="business_id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="discount" column="discount"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="mode" column="mode"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createTime" column="created_at"/>
        <collection property="products" javaType="ArrayList"  resultMap="ProductIdResult" />
    </resultMap>

    <resultMap id="ProductIdResult" type="Long">
        <result property="productId" column="product_id"/>
    </resultMap>



    <insert id="create" parameterType="Discount" useGeneratedKeys="true" keyProperty="id">
        insert `gxw_discount`  (user_id,business_id,name,content,discount,start_time,end_time,mode)
        value (#{userId},#{businessId},#{name},#{content},#{discount},#{startTime},#{endTime},#{mode})
    </insert>

    <insert id="addProducts">
        insert into gxw_discount_product(discount_id,product_id) values
        <foreach collection="products" item="productId"  separator=",">
            (#{discountId},#{productId})
        </foreach>
    </insert>

    <delete id="clearProducts">
        delete from gxw_discount_product where discount_id =#{discountId}
    </delete>

    <sql id="sqlDiscount">
        select
        a.id,
        a.user_id,
        a.business_id,
        a.name,
        a.content,
        a.discount,
        a.start_time,
        a.end_time,
        a.mode,
        a.delete_flag,
        a.created_at,
        b.product_id
        from gxw_discount a
        left join gxw_discount_product b on a.id = b.discount_id
    </sql>

    <select id="selectDiscounts" resultMap="DiscountResult">
        <include refid="sqlDiscount" />
        where a.business_id = #{businessId} and a.delete_flag = 0
    </select>

    <select id="getDiscountOfStore" resultMap="DiscountResult">
        <include refid="sqlDiscount" />
        where a.business_id = #{businessId} and a.start_time &lt; #{now} and a.end_time &gt; #{now}
        and a.delete_flag = 0
    </select>


    <update id="update" parameterType="Discount">
        update gxw_discount
        <set>
            <if test="name != null and name != ''">name= #{name},</if>
            <if test="content != null and content != ''">content= #{content},</if>
            <if test="discount != null and discount != 0">discount= #{discount},</if>
            <if test="startTime != null ">start_time= #{startTime},</if>
            <if test="endTime != null ">end_time= #{endTime},</if>
            <if test="mode != null ">mode= #{mode},</if>
            delete_flag = #{deleteFlag}
        </set>
        where id=#{id}
    </update>


    <update id="delete">
        update gxw_discount
        <set>
            delete_flag = 1
        </set>
        where id=#{id} and business_id =#{businessId}
    </update>
</mapper>